a {
    text-decoration: none;
    color: black;
}

#logout{
    display: flex;
    justify-content: center;
}

#login{
    text-align: center;
}

#cart {
    display:flex;
    flex-flow:row wrap;
}

#cart img{
    float: right;
    height: 200px;
    width: 50%;
}

#products{
    display:flex;
    flex-flow:row wrap;
}

img{
    float: right;
    height: 200px;
    width: 50%;
}

#productsHeader{
    text-align: center;
}

#cartHeader {
    order:1;
    height:100px;
    flex:0 1 100%;
    text-align: center;
}

.cartItem {
    order:2;
    flex:0 1 30%;

    padding: 1em;
    border: solid;
}

.productsItems{
    order:2;
    flex:0 1 30%;

    padding: 1em;
    border: solid;
}

@media only screen and (max-width: 1200px) {
    .cartItem {
        order:2;
        flex:0 1 33%;

        padding: 1em;
        border: solid;
    }

    .productsItems{
        order:3;
        flex:0 1 33%;

        padding: 1em;
        border: solid;
    }
}

@media only screen and (max-width: 850px) {
    .cartItem {
        order:2;
        flex:0 1 28%;

        padding: 1em;
        border: solid;
    }

    .productsItems{
        order:3;
        flex:0 1 28%;

        padding: 1em;
        border: solid;
    }
}

@media only screen and (max-width: 700px) {
    #cart img{
        display: none;
    }

    .cartItem {
        order:2;
        flex:0 1 25%;

        padding: 1em;
        border: solid;
    }

    .productsItems{
        order:3;
        flex:0 1 25%;

        padding: 1em;
        border: solid;
    }
}

@media only screen and (max-width: 500px) {
    #cart img{
        float: right;
        height: 200px;
        width: 50%;
        display: block;
    }

    .cartItem {
        order:2;
        flex:0 1 100%;

        padding: 1em;
        border: solid;
    }

    .productsItems{
        order:3;
        flex:0 1 100%;

        padding: 1em;
        border: solid;
    }
}