.navbar-default {
	border-color:transparent;
	background-color:#050FD1;
}

.navbar-default .navbar-brand {
	font-family: "Kaushan Script","Helvetica Neue", Helvetica, Arial, cursive;
	color:#F3F1F1;
}